.content {
    margin: -25px -24px;
    padding: 15px;
    max-height: 400px;
    overflow-y: auto;
}

.seleckedList {
    padding: 0 0 10px;
}

.tag {
    display: inline-block;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    padding: 0 7px;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    color: rgba(0, 0, 0, .65);
    border-radius: 4px;
    cursor: default;
    margin: 3px 3px;
}

.iclose {
    color: #666;
    margin: 0 0 0 5px;

    &:hover {
        color: #000;
    }
}

.tree {
    height: 290px;
    overflow: auto;

}

.nodata {
    padding: 15px 0;
}