.header {
    padding: 15px;
    max-width: 100%;
}

.action {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 100px;
}

.search {
    padding: 15px 0;
    border-bottom: 1px dashed #eee;
}

.name {
    margin-left: 0px;
}