.form_item {
    display: flex;
    line-height: 32px;
    padding: 20px 0 0;
    border-top: 1px dashed #eee;
}

.form_has_error {
    .form_label {
        color: #a94442;
    }

    :global(.ant-input) {
        border-color: #f5222d;
    }
}

.form_label {
    width: 160px;
    text-align: right;
    padding: 0 10px 0 0;
}

.form_ipt {
    flex: 1
}