.menubar {
    background: #fff;
    border-right: 1px solid #f1f1f1;
    width: 240px;
}

.search {
    padding: 5px 15px 15px;
    width: 100%;
}

.menu {
    border-right: none; // width: 240px;
    min-height: 600px;
}