.label {
    width: 100%;
    position: relative;
}

.textarea {
    background: #f1f1f1;
    margin: 15px 0 0;
    position: relative;
}

.count,
.countmax {
    position: absolute;
    right: 10px;
    bottom: 0;
    line-height: 32px;
    font-size: 12px;
    color: #666;
}

.countmax {
    color: #f00;
}