.slateEditer {
    border: 1px solid #eee;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    min-height: 320px;
    position: relative;
}

.slateEditerfullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.placeholder {
    position: relative;
    text-indent: 0em;
    display: block;
}

.editer {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding: 20px 25px;
    color: #404040;
    line-height: 1.8;
    width: 100%;
    overflow-y: auto;
    position: relative;


    p,
    div {
        margin: .9em 0;
        text-indent: 2em;
        position: relative;
    }

    a {
        color: #0000ee;
        text-decoration: underline;
    }

    h1,
    h2 {
        font-weight: bold;
        font-size: 1.6em;
        line-height: 1.4;
    }

    h2 {
        font-size: 1.4em;
    }

    figure,
    figcaption,
    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
        color: #3d3d3d;
        font-size: 15px;
    }

    figure div {
        margin: 0;
    }

    audio,
    video {
        display: block;
        width: 100%;
        margin: 0 auto;
        background: #f1f1f1;
        max-width: 100%;
    }

    iframe {
        max-width: 100%;
        width: 100%;
        overflow-x: hidden;
        display: block;
        height: auto;
        border: none;
    }

    table {
        border-collapse: collapse;
        width: 100%;

        div,
        p {
            margin: 0;
            text-indent: 0;
        }
    }

    th,
    td {
        padding: 10px;
        border: 1px solid #ddd;
    }

    th {
        font-weight: bold;
    }

    ul,
    ol {
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }

    pre {
        padding: 10px;
        background-color: #eee;
        white-space: pre-wrap;
    }

    :not(pre)>code {
        font-family: monospace;
        background-color: #eee;
        padding: 3px;
    }

    i,
    cite,
    em,
    var,
    address,
    dfn,
    blockquote {
        font-style: italic;
    }

    blockquote {
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 40px;
        -webkit-margin-end: 40px;
        border-left: 1px solid #ddd;
        margin-left: 0;
        margin-right: 0;
        padding-left: 10px;
        color: #aaa;
    }

    blockquote[dir="rtl"] {
        border-left: none;
        padding-left: 0;
        padding-right: 10px;
        border-right: 2px solid #ddd;
    }

    &>*+* {
        margin: .9em 0 0;
    }

    &>pre+pre {
        margin: 0;
    }
}

.edithtml {
    position: absolute;
    width: 100%; // height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}