.pxitem{
    margin-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
    line-height: 24px;
    padding: 2px 0;
    position: relative;
    cursor: default;
    &:hover{
        .itemBtn{
            z-index: 100;
        }
    }
}
.itemBtn{
    z-index: -1;
    cursor: pointer;
    user-select: none;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -11px;
    height: 22px;
    line-height: 22px;
    background: #1890ff;
    color: #fff;
    padding: 0 15px;
    font-size: 12px;
    &::before{
        position: absolute;
        content: "";
        left: -14px;
        bottom: 0;
        width:0; 
        height:0; 
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent; 
        border-right: 14px solid #1890ff;
    }
}