.hd{
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
}
.btn{
    width: 100%;
}
.ltBtnWrap{
    width: 65%;
    padding-right: 20px;
}
.rtBtnWrap{
    width: 35%;
}