.top {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    background: #1890ff;
    margin: 0 auto;
    color: #fff;
}

.topLevel {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    text-align: center;
}

.action {
    display: flex;
    justify-content: center;
}

.yanjing,
.bianji,
.delete,
.gengduo {
    text-align: center;
    line-height: 28px;
    margin: 0 5px;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    display: block;
}

.yanjing {
    background: #55dcb3;
}

.bianji {
    background: #57d7f0;
}

.delete {
    background: #fb9183;
}

.gengduo {
    background: #55dcb3;
}
