.page {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.pageBody {
  flex: 1 1;
  display: flex;
  flex-direction: row;
  background: #fafafa;
  margin: 0 15px 15px 15px;
  border-radius: 4px;
}
.pageBody .pageWrap {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-left: 0px;
}
.topdiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.topdiv .itemboxs {
  width: 24%;
  background-color: #fff;
  height: 200px;
  border-radius: 25px;
}
.topdiv .itemboxs .itemtitle {
  height: 40%;
  font-size: 28px;
  font-weight: bold;
  padding: 20px 20px 0 20px;
}
.topdiv .itemboxs .itemdata {
  height: 50%;
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
}
.downdiv {
  width: 100%;
  margin-top: 20px;
  background-color: #fff;
}
.downdiv h3 {
  font-size: 28px;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 0;
}
.downdiv .zongling {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.downdiv .itemboxs {
  width: 24%;
  background-color: #fff;
  height: 200px;
}
.downdiv .itemboxs .itemtitle {
  height: 20%;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding: 20px 20px 0 20px;
}
.downdiv .itemboxs .itemdata {
  height: 50%;
  font-size: 20px;
  text-align: center;
  padding: 40px 0 20px 0;
}
.pageMain {
  flex: 1 1;
  flex-direction: column;
  overflow: hidden;
}
.pageMain .pageScroll {
  height: 100%;
  overflow: auto;
}
.formItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border-radius: 4px;
  padding: 10px 10px;
  color: rgba(0, 0, 0, 0.65);
  margin-bottom: 30px;
}
.formItem label {
  padding-right: 20px;
  padding-left: 10px;
}
.formItem input {
  flex: 1 1;
  border: none;
  outline: none;
}
.btnGroup {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btnGroup button {
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
}
.btnGroup button:last-child {
  margin-right: 0;
}
.entityTitle {
  padding: 10px 30px 10px 30px;
  border-bottom: 1px dotted #ccc;
}
.entityTitle h4 {
  font-size: 24px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 15px;
}
.entityTitle p {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  flex-wrap: wrap;
}
.entityTitle p span {
  margin-right: 30px;
  color: rgba(0, 0, 0, 0.65);
}
.entityTitle p span:last-child {
  margin-right: 0;
}
.entityContent {
  padding: 10px 30px;
}
.yanjing,
.bianji,
.delete,
.gengduo {
  text-align: center;
  line-height: 28px;
  margin: 0 5px;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  display: inline-block;
}
.yanjing {
  background: #55dcb3;
}
.bianji {
  background: #57d7f0;
}
.delete {
  background: #fb9183;
}
.gengduo {
  background: #55dcb3;
}
.entityErr {
  padding: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
}
.entityErr .msg {
  padding: 10px 0;
}
.entityErr .opts > span {
  color: #1890ff;
  cursor: pointer;
  margin-right: 10px;
}
.entityErr .opts > a {
  margin-left: 10px;
}
.replyWrap {
  margin-top: 10px;
  background: #f6f6f6;
  border-radius: 4px;
  padding: 10px 15px;
}
.replyBtnWrap {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 20px 0;
}
.replyRight {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.replyRight .content {
  margin-right: 10px;
}
.replyRight .user {
  text-align: right;
  padding-bottom: 6px;
}
.replyRight .user span {
  padding-left: 15px;
}
.replyRight .descri {
  text-align: right;
}
.replyLeft {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.replyLeft .user {
  padding-bottom: 6px;
}
.replyLeft .user span {
  padding-right: 15px;
}
.replyLeft .descri {
  text-align: left;
}
.replyLeft .content {
  margin-left: 10px;
}
.fxRight {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 0;
}
.fxRight .fx1 {
  flex: 1 1;
  padding-right: 20px;
}
.err {
  padding: 20px;
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.45);
}
.err > div {
  padding: 10px;
}
.onLine {
  white-space: nowrap;
}
.pageStatis {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
