.label {
    width: 100%;
    position: relative;
    display: flex;
}

.input,
.error {
    margin: 0;
    padding: 4px 0 4px 4px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    &:focus {
        box-shadow: 0 0 0 transparent; // border-bottom: 1px solid #1890ff;
    }
}

.error {
    color: #f00;
    border-color: #f00;
}

.count,
.countmax {
    // position: absolute;
    // width: 60px;
    line-height: 32px;
}

.countmax {
    color: #f00;
}
